*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.btn{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border: 10px;
    border-radius: 10px;
}

.pinkl img{
    width: 200px;
    height: 280px;
    border-radius: 10px;
    border: 1px solid;
    transition: 0.7s ease;
    
}

.pink{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 1300px;
    margin: auto;
    margin-top: 1.5rem;
    width: 100%;
}

.pinkl{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;
    height: 310px;
    overflow: hidden;
    transition: 0.7s ease;
}

.pinkl img:hover{
    transform: scale(1.1);
}



